<link rel="stylesheet" type="text/css" href="/css/create.css" />
<div class="container">
  <div class="header">
    <div class="links">
      <a class="link1">Questions</a>
      <a class="link2">Themes</a>
      <a class="link3">Users</a>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout" type="submit">Log Out</button>
    </form>
    </div>
  </div>

  <div class="content">
    <form action="/questions" method="POST">
      <div class="questionContent">
        <label name="question_content">Question content</label>
        <input name="question_content" autocomplete="off" type="text">
      </div>

      <div class="correctAnswer">
        <label name="correctAnswer">Correct Answer</label>
        <input type="text" autocomplete="off">
      </div>

      <div class="wrongAnswer1">
        <label name="wrongAnswer1">Wrong Answer 1</label>
        <input type="text" autocomplete="off">
      </div>

      <div class="wrongAnswer2">
        <label name="wrongAnswer2">Wrong Answer 2</label>
        <input type="text" autocomplete="off">
      </div>

      <div class="theme">
        <label name="theme_id_fk">Theme ID</label>
        <input name="theme_id_fk" type="text" autocomplete="off">
      </div>

      <button class="buttonSubmit" type="submit">Create question</button>
    </form>
  </div>
</div>